/* estilo index */
/* estilos banner */
header img {
  width: 6%; }

header .banner {
  background-color: #1d1b1b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px; }

header .img-fondo {
  width: 100%;
  height: 100%; }

header nav {
  margin-top: 1rem; }
  header nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    font-size: 20px; }
    header nav ul li {
      transition: 0.3s ease-in-out;
      white-space: nowrap; }
      header nav ul li a {
        transition: 0.2s ease-in-out;
        text-decoration: none;
        color: white; }

header .icon .fa-solid {
  width: 50px;
  color: #fff; }

header nav ul:hover li {
  filter: blur(2.5px); }

header nav ul li:hover {
  filter: blur(0px);
  transform: scale(1.3);
  color: white;
  transition: 0.3s ease-in-out; }

main h1 {
  text-align: center;
  margin: 3rem; }

main p {
  text-align: center;
  margin-left: 7rem;
  margin-right: 7rem;
  padding: 3rem; }

section {
  height: 100%;
  text-align: center; }
  section ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 10px;
    padding: 1.3rem;
    justify-content: center;
    font-size: 20px; }
    section ul li {
      color: #ffffff;
      background-color: #232222;
      border: 2px solid black;
      border-radius: 5px;
      padding-left: 3rem;
      padding-right: 3rem;
      font-size: 15px;
      height: 30px;
      white-space: nowrap; }
  section h3 {
    text-align: center;
    margin-top: 3rem; }

article {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 270px;
  background-image: linear-gradient(to bottom, white, #e7e7e7); }
  article .pago .ubicacion .compra {
    display: flex;
    justify-content: center; }

.section-2 {
  display: flex;
  margin: 1.5rem;
  gap: 30px;
  justify-content: center;
  border: 1.5px solid black; }
  .section-2 #carouselExampleRide {
    width: 46.5%;
    height: 100vh; }
  .section-2 img {
    margin: 1.5rem;
    height: 100vh; }

.correo {
  display: flex;
  justify-content: center;
  margin: 1.5rem 3rem;
  color: whitesmoke;
  background-color: black;
  height: 70px;
  align-items: center;
  gap: 40px; }
  .correo .correo-1 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 0.3rem; }
  .correo .inputo-correo {
    height: 100%;
    width: 120px; }
  .correo .correo button {
    border-radius: 5px;
    height: 40px;
    width: 120px; }

@media screen and (max-width: 768px) {
  body .banner ul {
    gap: 0.9rem; }
    body .banner ul li {
      font-size: small;
      white-space: nowrap; }
  body main h1 {
    font-size: large; }
  body main p {
    font-size: large;
    text-align: start; }
  body section h3 {
    font-size: medium; }
  body section ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    font-size: 15px; }
  body article {
    gap: 5rem;
    font-size: medium;
    height: 50px; }
  body .section-2 {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border: 0px; }
    body .section-2 #carouselExampleRide {
      width: 98%;
      height: 100%;
      justify-self: center; }
    body .section-2 img {
      margin: 1rem;
      height: 100vh; }
  body .correo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
    padding: 0.5rem;
    height: 100%;
    background-color: #1c1c1cc9;
    gap: 1rem; }
    body .correo .correo-1 {
      font-size: 1.1rem;
      margin: 0.01rem; }
    body .correo .input-correo {
      width: 10rem; }
    body .correo button {
      border-radius: 0.9rem; } }

@media screen and (max-width: 768px) and (max-width: 550px) {
  /* estilos index */
  header .banner {
    display: grid;
    grid-template-areas: "nav img .icon";
    gap: 5rem; }
    header .banner nav {
      grid-area: nav;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      height: auto;
      background-color: #1c1c1c;
      padding: 0.1rem; }
      header .banner nav ul {
        flex-direction: column;
        align-items: star;
        justify-content: start;
        gap: 0.4rem;
        margin-left: 2rem; }
        header .banner nav ul li {
          color: #ecececec;
          font-size: small; }
    header .banner img {
      width: 10vh;
      grid-area: img;
      justify-self: center; }
  header .img-fondo {
    display: none; }
  header .icon {
    grid-area: icon;
    display: flex;
    justify-self: center;
    padding: 0rem; }
  main p {
    padding: 0;
    text-align: justify;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding: 1rem; }
  section ul {
    flex-direction: column;
    align-items: center; }
    section ul li {
      align-items: center;
      height: auto;
      width: 200px;
      padding-left: 0rem;
      padding-right: 0rem; }
  article {
    margin-top: 5rem;
    flex-direction: column;
    height: auto;
    gap: 5px;
    align-items: start;
    padding: 15px;
    background-image: linear-gradient(to left, white, #e7e7e7); }
  .section-2 {
    flex-direction: column;
    padding: 0.5rem;
    align-items: center; }
    .section-2 #carouselExampleRide {
      height: 90vh;
      width: auto; }
    .section-2 img {
      width: auto;
      height: 90vh;
      margin: auto; }
  .correo {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 0.5rem;
    height: 100%;
    background-color: #1c1c1cc9;
    gap: 1rem; }
    .correo .correo-1 {
      font-size: 1.1rem; }
    .correo .input-correo {
      width: 10rem; }
    .correo button {
      border-radius: 1.1rem; } }

/* estilos de "producto.html" */
/* titulo principal */
* {
  font-family: "Karla", sans-serif; }

main .titulo-catalogo {
  text-align: center;
  margin: 2rem;
  overflow-x: hidden; }

main h3 {
  text-align: center;
  margin: 20px;
  font-family: sans-serif; }

main p {
  font-size: x-large; }

main .contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: sans-serif; }
  main .contenedor .producto {
    width: 300px;
    margin: 10px;
    padding: 1px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    background: #83c5c042;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease; }
    main .contenedor .producto .contenido {
      padding: 2px;
      text-align: center; }
      main .contenedor .producto .contenido h4 {
        margin-bottom: 15px; }
      main .contenedor .producto .contenido p {
        color: #6a6a6a;
        margin: 1.5px;
        padding: 0;
        line-height: 1.5;
        font-size: medium; }
    main .contenedor .producto a {
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      margin-bottom: 10px;
      color: #10282c;
      border: 1px solid #10282c;
      border-radius: 4px; }
    main .contenedor .producto .producto a:hover {
      background-color: #10282c;
      color: #fff; }
  main .contenedor .producto:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); }
  main .contenedor .producto img {
    width: 150px;
    height: 150px; }

/* estilos contenido secundario */
.section-3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding: 2.5rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 4rem 1.5rem 4rem 0; }
  .section-3 aside {
    text-align: start;
    margin-top: 100px; }
    .section-3 aside p {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: large; }
      .section-3 aside p a {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: large;
        text-decoration: none;
        color: black; }

main .contacto {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px; }
  main .contacto form input,
  main .contacto form #mensaje {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 0.8rem;
    outline: 0px; }
  main .contacto form .text-area {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px; }
  main .contacto form .btn-enviar {
    max-width: 100px;
    min-height: 20px;
    padding: 0.5rem;
    font-size: 16px;
    outline: 0px;
    background-color: #84a59daa;
    color: white;
    border-radius: 0.4rem;
    transition: all 300ms ease; }
  main .contacto form .btn-enviar:hover {
    background-color: #84a59dea; }
  main .contacto .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 5px; }
    main .contacto .redes h2 {
      margin: 0.2rem;
      font-size: 30px;
      text-align: center; }
    main .contacto .redes .p-redes {
      font-size: 17px;
      line-height: 1.6;
      margin: 2px;
      padding: 0.8rem;
      text-align: start; }
    main .contacto .redes .facebook,
    main .contacto .redes .instagram,
    main .contacto .redes .gmail,
    main .contacto .redes .whatsapp {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: auto;
      margin-right: 1rem;
      border-radius: 10px;
      background-color: #ccc;
      color: #fff;
      transition: background-color 0.3s ease-in-out;
      gap: 14px; }
      main .contacto .redes .facebook a,
      main .contacto .redes .instagram a,
      main .contacto .redes .gmail a,
      main .contacto .redes .whatsapp a {
        background-color: #ccc;
        color: #fff;
        transition: background-color 0.3s ease-in-out;
        text-decoration: none; }
      main .contacto .redes .facebook i,
      main .contacto .redes .instagram i,
      main .contacto .redes .gmail i,
      main .contacto .redes .whatsapp i {
        font-size: 1.2rem; }

@media screen and (max-width: 768px) {
  main .contacto {
    max-width: 90vh;
    display: flex;
    flex-direction: column; } }

/* estilos "punto de venta */
main h2 {
  margin-top: 2rem;
  text-align: center; }

main h3 {
  font-size: medium; }

main p {
  margin: 2rem;
  padding: 0.01rem;
  text-align: center; }

main .puntos {
  display: "Karla", sans-serif;
  margin: 0.5rem;
  justify-content: center;
  gap: 10rem; }
  main .puntos .locales {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; }
    main .puntos .locales li {
      width: 300px;
      margin-bottom: 0.1rem;
      padding: 1rem;
      background-color: #ade8f454;
      border-radius: 0.25rem;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      box-shadow: 1px 1.5px 10px rgba(0, 0, 0, 0.2); }
      main .puntos .locales li h3 {
        margin-top: 0;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: x-large; }
      main .puntos .locales li p {
        margin: 0.1rem;
        padding: 0;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 500; }
      main .puntos .locales li a {
        text-decoration: none;
        color: black;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
      main .puntos .locales li a:hover {
        background-color: #76c893;
        color: white;
        box-shadow: 1px 1.5px 10px white;
        padding: 0.15rem;
        border-radius: 1px; }

/* estilo de "nosotros' */
.titulo-nosotros {
  text-align: center;
  margin: 4rem; }

.p-nosotros {
  text-align: unset;
  margin: 0.5rem 1rem 0rem 1rem;
  padding: 1rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.15rem; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: auto;
  background: #030014;
  font-size: small;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  color: white; }
  footer .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    gap: 0.8rem; }
    footer .footer-top .social-links {
      display: flex;
      gap: 0.9rem; }
  footer .menu-navegacion {
    margin: 0.5rem;
    padding: 0.5rem; }
    footer .menu-navegacion ul {
      padding: 0;
      gap: 0.5rem;
      margin: 0;
      display: flex;
      flex-direction: column; }
      footer .menu-navegacion ul li {
        list-style: none;
        transition: 1s ease-in-out;
        white-space: nowrap; }
        footer .menu-navegacion ul li a {
          text-decoration: none;
          transition: 0.2s ease-in-out;
          color: #fff; }
      footer .menu-navegacion ul li:hover {
        transition: 0, 3s ease-in-out;
        transform: scale(1, 3); }
  footer .menu-contactanos {
    margin: 0.5rem;
    padding: 0.5rem; }
    footer .menu-contactanos ul {
      padding: 0;
      gap: 0.5rem;
      margin: 0;
      display: flex;
      flex-direction: column; }
      footer .menu-contactanos ul li {
        list-style: none;
        display: flex;
        gap: 0.5rem; }
        footer .menu-contactanos ul li a {
          text-decoration: none;
          color: white; }

* {
  font-family: "Karla", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

/* estilos pie de pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
