/* estilo index */
/* estilos banner */
header img {
  width: 6%; }

header .banner {
  background-color: #1d1b1b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px; }

header .img-fondo {
  width: 100%;
  height: 100%; }

header nav {
  margin-top: 1rem; }
  header nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    font-size: 20px; }
    header nav ul li {
      transition: 0.3s ease-in-out;
      white-space: nowrap; }
      header nav ul li a {
        transition: 0.2s ease-in-out;
        text-decoration: none;
        color: white; }

header .icon .fa-solid {
  width: 50px;
  color: #fff; }

header nav ul:hover li {
  filter: blur(2.5px); }

header nav ul li:hover {
  filter: blur(0px);
  transform: scale(1.3);
  color: white;
  transition: 0.3s ease-in-out; }

.main-index {
  height: 50vh;
  margin: 50px 10px 0px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 3rem; }
  .main-index .titulo-home {
    text-align: center;
    margin: 0rem;
    padding: 0rem; }
  .main-index .p-home {
    text-align: center;
    margin: 0rem;
    padding: 0em;
    font-size: 20px; }

section {
  height: 100%;
  text-align: center; }
  section ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 10px;
    padding: 1.3rem;
    justify-content: center;
    font-size: 20px; }
    section ul li {
      color: #ffffff;
      background-color: #232222;
      border: 2px solid black;
      border-radius: 5px;
      padding-left: 3rem;
      padding-right: 3rem;
      font-size: 15px;
      height: 30px;
      white-space: nowrap; }
  section h2 {
    text-align: center;
    margin-top: 1rem; }

article {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 270px;
  background-image: linear-gradient(to bottom, white, #e7e7e7); }
  article .pago .ubicacion .compra {
    display: flex;
    justify-content: center; }

.section-2 {
  display: flex;
  margin: 1.5rem;
  gap: 30px;
  justify-content: center;
  border: 1.5px solid black; }
  .section-2 #carouselExampleRide {
    width: 50%;
    height: 50%; }
  .section-2 img {
    margin: 1.5rem;
    height: 100%; }

.correo {
  display: flex;
  justify-content: center;
  margin: 1.5rem 3rem;
  color: whitesmoke;
  background-color: black;
  height: 70px;
  align-items: center;
  gap: 40px; }
  .correo .correo-1 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 0.3rem; }
  .correo .inputo-correo {
    height: 100%;
    width: 120px; }
  .correo .correo button {
    border-radius: 5px;
    height: 40px;
    width: 120px; }

@media screen and (max-width: 1200px) {
  body .banner {
    gap: 0; }
    body .banner ul {
      gap: 0.5rem; }
      body .banner ul li {
        font-size: small;
        white-space: nowrap; }
  body main h1 {
    font-size: large; }
  body main p {
    font-size: large;
    text-align: start; }
  body section h3 {
    font-size: medium; }
  body section ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    font-size: 15px; }
  body article {
    gap: 5rem;
    font-size: medium;
    height: 50px; }
  body .section-2 {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border: 0px; }
    body .section-2 #carouselExampleRide {
      width: 98%;
      height: 100%;
      justify-self: center; }
    body .section-2 img {
      width: auto;
      height: 90vh;
      margin: auto; }
  body .correo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
    padding: 0.5rem;
    height: 100%;
    background-color: #1c1c1cc9;
    gap: 1rem; }
    body .correo .correo-1 {
      font-size: 1.1rem;
      margin: 0.01rem; }
    body .correo .input-correo {
      width: 10rem; }
    body .correo button {
      border-radius: 0.9rem; } }

@media screen and (max-width: 1200px) and (max-width: 600px) {
  /* estilos index */
  header .banner {
    display: grid;
    grid-template-areas: "nav img .icon";
    gap: 5rem; }
    header .banner nav {
      grid-area: nav;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      height: auto;
      background-color: #1c1c1c;
      padding: 0.1rem; }
      header .banner nav ul {
        flex-direction: column;
        align-items: star;
        justify-content: start;
        gap: 0.4rem;
        margin-left: 2rem; }
        header .banner nav ul li {
          color: #ecececec;
          font-size: small; }
    header .banner img {
      width: 10vh;
      grid-area: img;
      justify-self: center; }
  header .img-fondo {
    display: none; }
  header .icon {
    grid-area: icon;
    display: flex;
    justify-self: center;
    padding: 0rem; }
  main p {
    padding: 0;
    text-align: justify;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding: 1rem; }
  section ul {
    flex-direction: column;
    align-items: center; }
    section ul li {
      align-items: center;
      height: auto;
      width: 200px;
      padding-left: 0rem;
      padding-right: 0rem; }
  article {
    margin-top: 5rem;
    flex-direction: column;
    height: auto;
    gap: 5px;
    align-items: start;
    padding: 15px;
    background-image: linear-gradient(to left, white, #e7e7e7); }
  .section-2 {
    flex-direction: column;
    padding: 0.5rem;
    align-items: center; }
    .section-2 #carouselExampleRide {
      height: 90vh;
      width: auto; }
    .section-2 img {
      width: auto;
      height: 90vh;
      margin: auto; }
  .correo {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 0.5rem;
    height: 100%;
    background-color: #1c1c1cc9;
    gap: 1rem; }
    .correo .correo-1 {
      font-size: 1.1rem; }
    .correo .input-correo {
      width: 10rem; }
    .correo button {
      border-radius: 1.1rem; } }

/* estilos de "producto.html" */
/* titulo principal */
* {
  font-family: "Karla", sans-serif; }

.main-producto {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  height: 100%; }
  .main-producto .titulo-catalogo {
    text-align: center;
    margin: 2rem;
    overflow-x: hidden; }
  .main-producto h3 {
    text-align: center;
    margin: 5px;
    font-family: sans-serif; }
  .main-producto p {
    font-size: x-large; }
  .main-producto .contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: sans-serif; }
    .main-producto .contenedor .producto {
      width: 300px;
      margin: 10px;
      padding: 1px;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
      overflow: hidden;
      background-image: linear-gradient(to bottom, #83c5c05a, #acbbba42);
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 2s ease; }
      .main-producto .contenedor .producto .contenido {
        padding: 2px;
        text-align: center;
        margin-bottom: 0; }
        .main-producto .contenedor .producto .contenido h3 {
          margin-bottom: 15px;
          transition: 2s; }
        .main-producto .contenedor .producto .contenido p {
          color: #6a6a6a;
          margin: 1.5px;
          padding: 0;
          line-height: 1.5;
          font-size: medium;
          position: relative;
          opacity: 0;
          transform: translatey(20px);
          transition: 1s ease-in-out; }
        .main-producto .contenedor .producto .contenido p:hover {
          transform: translatey(-8px);
          transition: 0.7s ease-in-out;
          opacity: 1;
          color: black; }
      .main-producto .contenedor .producto a {
        text-decoration: none;
        display: inline-block;
        padding: 8px;
        margin-bottom: 10px;
        color: #10282c;
        border: 1px solid #10282c;
        border-radius: 4px;
        opacity: 1; }
      .main-producto .contenedor .producto a:hover {
        background-color: #10282c;
        color: white; }
      .main-producto .contenedor .producto .producto a:hover {
        background-color: #10282c;
        color: #fff;
        opacity: 1;
        transition: 2s ease-in-out; }
      .main-producto .contenedor .producto .producto a::before {
        opacity: 1; }
    .main-producto .contenedor .producto:hover {
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
      transform: translatey(-10px);
      transition: 2s;
      opacity: 0.5; }
    .main-producto .contenedor .producto:hover h3 {
      opacity: 0, 2;
      transition: 2s; }
    .main-producto .contenedor .producto img {
      width: 150px;
      height: 150px;
      transition: 1.5s ease-in; }
  .main-producto h2 {
    font-size: 30px;
    margin: 3rem 0 3rem 0; }

/* estilos contenido secundario */
.section-3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding: 2.5rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 4rem 1.5rem 4rem 0; }
  .section-3 aside {
    text-align: start;
    margin-top: 30px; }
    .section-3 aside p {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: large; }
      .section-3 aside p a {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: large;
        text-decoration: none;
        color: black; }

@media screen and (max-width: 1200px) {
  body header .banner nav ul {
    gap: 2rem; }
    body header .banner nav ul li {
      transform: none;
      transition: none; }
    body header .banner nav ul li:hover {
      transform: none;
      transition: none; }
  body header .banner nav ul:hover li {
    transform: none;
    transition: none; }
  body .main-producto .titulo-catalogo h1 {
    font-size: 30px; }
  body .main-producto .titulo-catalogo p {
    font-size: 20px;
    text-align: start;
    margin-bottom: 1rem; }
  body .main-producto .contenedor {
    display: grid;
    place-items: center;
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr); }
    body .main-producto .contenedor .producto {
      opacity: 1;
      transition: none; }
      body .main-producto .contenedor .producto .contenido h3 {
        text-align: center; }
      body .main-producto .contenedor .producto .contenido p {
        text-align: center;
        padding: 0.5rem;
        transition: none;
        opacity: 1;
        top: 2;
        margin-bottom: 1rem;
        color: black;
        transform: none;
        transform: translate(0); }
      body .main-producto .contenedor .producto .contenido p:hover {
        opacity: 1;
        transition: none; }
    body .main-producto .contenedor .producto:hover {
      transition: none;
      transform: translateY(0px);
      color: black;
      opacity: 1; }
  body .main-producto h2 {
    font-size: 20px;
    margin-top: 3rem; }
  body .section-3 {
    flex-direction: column; }
    body .section-3 aside {
      margin: 1rem; } }

@media screen and (max-width: 600px) {
  body .main-producto .titulo-catalogo h1 {
    font-size: 20px; }
  body .main-producto .titulo-catalogo p {
    font-size: 15px; }
  body .main-producto h2 {
    font-size: 20px; }
  body .main-producto .contenedor {
    display: flex;
    flex-direction: column; }
    body .main-producto .contenedor .producto {
      display: flex;
      flex-direction: row;
      width: auto;
      gap: 1rem; }
      body .main-producto .contenedor .producto .contenido {
        padding: 0rem; }
      body .main-producto .contenedor .producto a {
        margin: 1rem; } }

.body-contacto {
  background-image: linear-gradient(to bottom, #1766a3, #e1e9f0); }

main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center; }
  main .formulario {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20p;
    padding: 10px;
    height: 90%;
    width: 1200px;
    background-color: #9cdafa;
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
    border-radius: 30px; }
    main .formulario .contacto-formulario {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-left: 30px; }
      main .formulario .contacto-formulario .box-formulario {
        display: flex;
        flex-direction: column; }
        main .formulario .contacto-formulario .box-formulario .texto {
          min-width: 500px; }
          main .formulario .contacto-formulario .box-formulario .texto h2 {
            color: #1766a3;
            margin-bottom: 10px;
            text-align: start; }
          main .formulario .contacto-formulario .box-formulario .texto p {
            color: #0b426c;
            font-size: 20px;
            text-align: start;
            line-height: 1.5;
            margin: 20px; }
        main .formulario .contacto-formulario .box-formulario form {
          width: 70%; }
          main .formulario .contacto-formulario .box-formulario form .inputbox {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px; }
            main .formulario .contacto-formulario .box-formulario form .inputbox label {
              color: #1766a3;
              font-weight: 700;
              text-align: start; }
            main .formulario .contacto-formulario .box-formulario form .inputbox input,
            main .formulario .contacto-formulario .box-formulario form .inputbox textarea {
              gap: 10px;
              border: none;
              background-color: #cbebfb;
              padding: 10px;
              border-radius: 15px;
              color: #1766a3; }
          main .formulario .contacto-formulario .box-formulario form .submit {
            background-color: #1766a3;
            display: inline-block;
            text-align: center;
            width: 150px;
            padding: 10px;
            border-radius: 15px;
            color: #fff;
            cursor: pointer;
            border: none;
            box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
            transition: 0.6s; }
          main .formulario .contacto-formulario .box-formulario form .submit:hover {
            background-color: #1766a37a;
            transition: 0.6s; }
    main .formulario .info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 6rem; }
      main .formulario .info .imgbox {
        width: 150px;
        height: 150px; }
        main .formulario .info .imgbox img {
          top: 0;
          left: 0.7;
          width: 300px;
          height: 300px; }
      main .formulario .info .texto-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        main .formulario .info .texto-box .info-contacto {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          margin-bottom: 10px; }
          main .formulario .info .texto-box .info-contacto ul {
            padding: 0;
            gap: 0.5rem;
            margin: 0;
            display: flex;
            flex-direction: column; }
            main .formulario .info .texto-box .info-contacto ul li {
              list-style: none;
              display: flex;
              gap: 0.5rem;
              font-size: 20px;
              padding: 0;
              margin: 0;
              background-color: transparent;
              border: 0px; }
              main .formulario .info .texto-box .info-contacto ul li a {
                text-decoration: none;
                color: black; }
  main .contacto {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 90px; }
    main .contacto form input,
    main .contacto form #mensaje {
      width: 100%;
      padding: 15px 10px;
      font-size: 15px;
      border: 1px solid black;
      margin-bottom: 20px;
      border-radius: 0.8rem;
      outline: 0px; }
    main .contacto form .text-area {
      max-width: 530px;
      min-width: 530px;
      min-height: 140px;
      max-height: 150px; }
    main .contacto form .btn-enviar {
      max-width: 100px;
      min-height: 20px;
      padding: 0.5rem;
      font-size: 16px;
      outline: 0px;
      background-color: #84a59daa;
      color: white;
      border-radius: 0.4rem;
      transition: all 300ms ease; }
    main .contacto form .btn-enviar:hover {
      background-color: #84a59dea; }
    main .contacto .redes {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.2rem;
      margin-bottom: 5px; }
      main .contacto .redes h2 {
        margin: 0.2rem;
        font-size: 30px;
        text-align: center; }
      main .contacto .redes .p-redes {
        font-size: 17px;
        line-height: 1.6;
        margin: 2px;
        padding: 0.8rem;
        text-align: start; }
      main .contacto .redes .facebook,
      main .contacto .redes .instagram,
      main .contacto .redes .gmail,
      main .contacto .redes .whatsapp {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: auto;
        margin-right: 1rem;
        border-radius: 10px;
        background-color: #ccc;
        color: #fff;
        transition: background-color 0.3s ease-in-out;
        gap: 14px; }
        main .contacto .redes .facebook a,
        main .contacto .redes .instagram a,
        main .contacto .redes .gmail a,
        main .contacto .redes .whatsapp a {
          background-color: #ccc;
          color: #fff;
          transition: background-color 0.3s ease-in-out;
          text-decoration: none; }
        main .contacto .redes .facebook i,
        main .contacto .redes .instagram i,
        main .contacto .redes .gmail i,
        main .contacto .redes .whatsapp i {
          font-size: 1.2rem; }

@media screen and (max-width: 1200px) {
  main .formulario {
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
    main .formulario .contacto-formulario .info {
      height: 300px;
      padding: 20px; }
      main .formulario .contacto-formulario .info .imgbox {
        display: none; }
      main .formulario .contacto-formulario .info .texto-box .info-contacto {
        display: inline-block; }
        main .formulario .contacto-formulario .info .texto-box .info-contacto ul {
          gap: 3.5rem;
          margin-bottom: 5rem; } }

@media screen and (max-width: 600px) {
  main .formulario {
    height: 100vh; }
    main .formulario .contacto-formulario {
      height: 100%;
      flex-direction: column;
      height: 100%; }
      main .formulario .contacto-formulario .info .texto-box .info-contacto ul {
        gap: 1rem; }
        main .formulario .contacto-formulario .info .texto-box .info-contacto ul li {
          font-size: 20px; }
      main .formulario .contacto-formulario .box-formulario form {
        margin-left: 0px;
        width: 100%; }
    main .formulario .info {
      margin-bottom: 30px; } }

footer {
  margin: auto; }

/* estilos "punto de venta */
body {
  height: auto; }
  body main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-bottom: 5rem; }
    body main h1 {
      margin-top: 3rem;
      text-align: center; }
    body main h2 {
      margin: 2rem;
      font-size: 22px; }
    body main p {
      margin: 1rem;
      font-size: 20px;
      text-align: center; }
    body main .puntos {
      width: 100vh;
      padding: 2rem; }
      body main .puntos .locales {
        display: flex;
        justify-content: center;
        gap: 2rem; }
        body main .puntos .locales li {
          width: 300px;
          margin-bottom: 0.1rem;
          padding: 1rem;
          background-color: #ade8f454;
          border-radius: 0.25rem;
          text-decoration: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
          box-shadow: 1px 1.5px 10px rgba(0, 0, 0, 0.2); }
          body main .puntos .locales li h3 {
            margin-top: 0;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            font-size: x-large; }
          body main .puntos .locales li p {
            margin: 0.1rem;
            font-size: 17px;
            padding: 0;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            font-size: 500; }
          body main .puntos .locales li a {
            text-decoration: none;
            color: black;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
          body main .puntos .locales li a:hover {
            background-color: #76c893;
            color: white;
            box-shadow: 1px 1.5px 10px white;
            padding: 0.15rem;
            border-radius: 1px; }

@media screen and (max-width: 1200px) {
  body main {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 3rem; }
    body main h1 {
      margin-top: 2rem;
      text-align: center; }
    body main h2 {
      margin: 2rem;
      font-size: 17px; }
    body main p {
      margin: 0.7rem;
      font-size: 17px;
      text-align: center; }
    body main .puntos {
      width: 100vh; }
      body main .puntos .locales {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto); } }

@media screen and (max-width: 600px) {
  body main .puntos .locales {
    grid-template-columns: repeat(1, auto); } }

/* estilo de "nosotros' */
.titulo-nosotros {
  text-align: center;
  margin: 4rem; }

.p-nosotros {
  text-align: unset;
  margin: 0.5rem 1rem 0rem 1rem;
  padding: 1rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.15rem; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background: #030014;
  font-size: small;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  color: white; }
  footer .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    gap: 0.8rem; }
    footer .footer-top .social-links {
      display: flex;
      gap: 0.9rem; }
      footer .footer-top .social-links a {
        text-decoration: none;
        color: #fff; }
  footer .menu-navegacion {
    margin: 0.5rem;
    padding: 0.5rem; }
    footer .menu-navegacion ul {
      padding: 0;
      gap: 0.5rem;
      margin: 0;
      display: flex;
      flex-direction: column; }
      footer .menu-navegacion ul li {
        list-style: none;
        white-space: nowrap;
        transition: 0.3s ease-in-out; }
        footer .menu-navegacion ul li a {
          text-decoration: none;
          color: #fff;
          transition: 0.2s ease-in-out; }
      footer .menu-navegacion ul li:hover {
        transform: scaleX(1.1);
        transition: 0.3s ease-in-out; }
  footer .menu-contactanos {
    margin: 0.5rem;
    padding: 0.5rem; }
    footer .menu-contactanos ul {
      padding: 0;
      gap: 0.5rem;
      margin: 0;
      display: flex;
      flex-direction: column; }
      footer .menu-contactanos ul li {
        list-style: none;
        display: flex;
        gap: 0.5rem; }
        footer .menu-contactanos ul li a {
          text-decoration: none;
          color: white; }

@media screen and (max-width: 1200px) {
  footer {
    display: grid;
    grid-template-areas: "footer-top menu-navegacion" "menu-contactanos footer-bottom"; }
    footer .footer-top {
      grid-area: footer-top; }
      footer .footer-top img {
        display: none; }
      footer .footer-top span {
        flex-direction: row; }
    footer .menu-navegacion {
      grid-area: menu-navegacion; }
    footer .menu-contactanos {
      grid-area: menu-contactanos; }
    footer .footer-bottom {
      grid-area: footer-bottom;
      margin-top: 5rem; } }

@media screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; }
    footer .footer-bottom {
      margin: 1rem; } }

* {
  font-family: "Karla", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

/* estilos pie de pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
