// import
@import "scss/variables/vars";
.body-contacto {
  background-image: linear-gradient(to bottom, #1766a3, #e1e9f0);
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  .formulario {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20p;
    padding: 10px;
    height: 90%;
    width: 1200px;
    background-color: #9cdafa;
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
    border-radius: 30px;
    .contacto-formulario {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      // width: 100%;
      margin-left: 30px;
      .box-formulario {
        display: flex;
        flex-direction: column;
        .texto {
          min-width: 500px;
          h2 {
            color: #1766a3;
            // font-size: 2em;
            margin-bottom: 10px;
            text-align: start;
          }
          p {
            color: #0b426c;
            font-size: 20px;
            text-align: start;
            line-height: 1.5;
            margin: 20px;
          }
        }
        form {
          width: 70%;
          .inputbox {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            label {
              color: #1766a3;
              font-weight: 700;
              text-align: start;
            }
            input,
            textarea {
              gap: 10px;
              border: none;
              background-color: #cbebfb;
              padding: 10px;
              border-radius: 15px;
              color: #1766a3;
            }
          }
          .submit {
            background-color: #1766a3;
            display: inline-block;
            text-align: center;
            width: 150px;
            padding: 10px;
            border-radius: 15px;
            color: #fff;
            cursor: pointer;
            border: none;
            box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
            transition: 0.6s;
          }
          .submit:hover {
            background-color: #1766a37a;
            transition: 0.6s;
          }
        }
      }
    }
    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 6rem;
      .imgbox {
        width: 150px;
        height: 150px;
        img {
          top: 0;
          left: 0.7;
          width: 300px;
          height: 300px;
        }
      }
      .texto-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .info-contacto {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          margin-bottom: 10px;
          ul {
            padding: 0;
            gap: 0.5rem;
            margin: 0;
            display: flex;
            flex-direction: column;
            li {
              list-style: none;
              display: flex;
              gap: 0.5rem;
              font-size: 20px;
              padding: 0;
              margin: 0;
              background-color: transparent;
              border: 0px;
              a {
                text-decoration: none;
                color: black;
              }
            }
          }
        }
      }
    }
  }

  .contacto {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 90px;
    form {
      input,
      #mensaje {
        width: 100%;
        padding: 15px 10px;
        font-size: 15px;
        border: 1px solid black;
        margin-bottom: 20px;
        border-radius: 0.8rem;
        outline: 0px;
      }
      .text-area {
        max-width: 530px;
        min-width: 530px;
        min-height: 140px;
        max-height: 150px;
      }
      .btn-enviar {
        max-width: 100px;
        min-height: 20px;
        padding: 0.5rem;
        font-size: 16px;
        outline: 0px;
        background-color: #84a59daa;
        color: white;
        border-radius: 0.4rem;
        transition: all 300ms ease;
      }
      .btn-enviar:hover {
        background-color: #84a59dea;
      }
    }
    .redes {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.2rem;
      margin-bottom: 5px;
      h2 {
        margin: 0.2rem;
        font-size: 30px;
        text-align: center;
      }
      .p-redes {
        font-size: 17px;
        line-height: 1.6;
        margin: 2px;
        padding: 0.8rem;
        text-align: start;
      }
      .facebook,
      .instagram,
      .gmail,
      .whatsapp {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: auto;
        margin-right: 1rem;
        border-radius: 10px;
        background-color: #ccc;
        color: #fff;
        transition: background-color 0.3s ease-in-out;
        gap: 14px;
        a {
          background-color: #ccc;
          color: #fff;
          transition: background-color 0.3s ease-in-out;
          text-decoration: none;
        }
        i {
          font-size: 1.2rem;
        }
      }
    }
  }
}

// estilos para tablet

@media screen and (max-width: 1200px) {
  main {
    .formulario {
      width: auto;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      .contacto-formulario {
        .info {
          height: 300px;
          padding: 20px;
          .imgbox {
            display: none;
          }
          .texto-box {
            .info-contacto {
              display: inline-block;
              ul {
                gap: 3.5rem;
                margin-bottom: 5rem;
              }
            }
          }
        }
      }
    }
  }
}

// estilos para celulares
@media screen and (max-width: 600px) {
  main {
    .formulario {
      height: 100vh;
      .contacto-formulario {
        height: 100%;
        flex-direction: column;
        height: 100%;
        .info {
          .texto-box {
            .info-contacto {
              ul {
                gap: 1rem;
                li {
                  font-size: 20px;
                }
              }
            }
          }
        }
        .box-formulario {
          form {
            margin-left: 0px;
            width: 100%;
          }
        }
      }
      .info {
        margin-bottom: 30px;
      }
    }
  }
}
footer {
  margin: auto;
}