// import
@import "scss/variables/vars";

/* estilo de "nosotros' */

.titulo-nosotros {
  text-align: center;
  margin: 4rem;
}

.p-nosotros {
  text-align: unset;
  margin: 0.5rem 1rem 0rem 1rem;
  padding: 1rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.15rem;
}

