// import
@import "../variables/vars";
@import "../variables/mixin";

/* estilos de "producto.html" */
/* titulo principal */

* {
  font-family: $font-principal;
}

.main-producto {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  height: 100%;
  .titulo-catalogo {
    text-align: center;
    margin: 2rem;
    overflow-x: hidden;
  }
  h3 {
    text-align: center;
    margin: 5px;
    font-family: sans-serif;
  }
  p {
    font-size: x-large;
  }
  .contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    .producto {
      @include productos(300px, 10px, 1px);
      border-radius: 6px;
      @include flex;
      margin-left: 1rem;
      margin-right: 1rem;
      overflow: hidden;
      background-image: linear-gradient(to bottom, #83c5c05a, #acbbba42);
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 2s ease;

      .contenido {
        padding: 2px;
        text-align: center;
        margin-bottom: 0;
        h3 {
          margin-bottom: 15px;
          transition: 2s;
        }
        p {
          color: #6a6a6a;
          margin: 1.5px;
          padding: 0;
          line-height: 1.5;
          font-size: medium;
          position: relative;
          opacity: 0;
          transform: translatey(20px);
          transition: 1s ease-in-out;
        }
        p:hover {
          transform: translatey(-8px);
          transition: 0.7s ease-in-out;
          opacity: 1;
          color: black;
        }
      }
      a {
        text-decoration: none;
        display: inline-block;
        padding: 8px;
        margin-bottom: 10px;
        color: #10282c;
        border: 1px solid #10282c;
        border-radius: 4px;
        opacity: 1;
      }
      a:hover {
        background-color: #10282c;
        color: white;
      }
      .producto a:hover {
        background-color: #10282c;
        color: #fff;
        opacity: 1;
        transition: 2s ease-in-out;
      }
      .producto a::before {
        opacity: 1;
      }
    }
    .producto:hover {
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
      transform: translatey(-10px);
      transition: 2s;
      opacity: 0.5;
    }
    .producto:hover h3 {
      opacity: 0, 2;
      transition: 2s;
    }

    .producto img {
      width: 150px;
      height: 150px;
      transition: 1.5s ease-in;
    }
  }
}

/* estilos contenido secundario */
.section-3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding: 2.5rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 4rem 1.5rem 4rem 0;
  aside {
    text-align: start;
    margin-top: 100px;
    p {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: large;
      a {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: large;
        text-decoration: none;
        color: black;
      }
    }
  }
}

// estilos para tablet
@media screen and (max-width: 1200px) {
  .main-producto {
    .contenedor {
      display: grid;
      column-gap: 2rem;
      grid-template-columns: repeat(2, 300px);
    }
  }
  .section-3 {
    flex-direction: column;
    aside {
      margin: 1rem;
    }
  }
}
